Client/Connected Services/ExecutionService/ExecutionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/ExecutionService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ExecutionResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompilationOutput" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompilationPassed" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExecutionPassed" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
      <xs:element minOccurs="0" name="RuntimeOutput" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="exception" nillable="true" type="q1:Exception" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecutionResults" nillable="true" type="tns:ExecutionResults" />
</xs:schema>