Client/Connected Services/ExecutionService/ExecutionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Compile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>